
@{
    ViewBag.Title = "Forgotpassword";
    Layout = null;
}

<h2>Forgotpassword</h2>

<div class="card-footer text-center">
    <a href="@Url.Action("Index", "Home")" class="btn btn-secondary">
        <i class="fa fa-arrow-left"></i> Back to Home
    </a>
</div>